@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
       --w-dark-purple1 : #470047;
       --w-dark-purple2 : #310047;
       --w-mid-purple   : #6f0b5b;
       --w-magenta      : #a02b68;
       --w-yellow       : #ffb948;
       --w-orange       : #ff8f2f;
       --w-purple-grey  : rgb(225, 222, 230);

       --bg: whitesmoke;
       --text: #111;
       --muted: grey;
       --card: whitesmoke;

       --radius: 15px;
       --shadow: 5px 5px 10px 0px va(--w-purple-grey);
       --pill: 50px;      
}

body { margin: 0;
       font-family: 'Raleway', 'Gill Sans MT', Geneva, 'Inter', 'Segoe UI', sans-serif; 
       background: var(--bg);
       color: var(--text);
       overflow: auto;
     }

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit
}

/* the website layout */
.app {
    min-height: 100vh;
    display: flex;
}

/* sidebar */
.sidebar {
    background: whitesmoke;
    padding: 18px 14px;
    display: flex;
    flex-direction: column;
    gap: 18px;


   background: linear-gradient(132deg, rgba(49,0,71,1) 0%, rgba(49,0,71,1) 25%, rgba(50,0,71,1) 35%, rgba(71,0,71,1)80%);
   box-shadow: 2cm 0 2cm 0 -6 rgb(20, 20, 20);
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0.6cm;
    margin-left: 0.2cm;
}


.brand-title {
    font-size: 16pt;
    margin: 0;
    letter-spacing: 0.02em;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 0.4cm;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.25cm 0 0.25cm 0.4cm;
    border-radius: 0;
    color: grey;
    font-size: 16pt;
}

.nav-item:hover, .na-item:focus, .nav-item.active {
    background: var(--w-dark-purple1);
    border-right: solid var(--w-magenta) 5px;
    color: whitesmoke;
    font-weight: 700;
}

.nav-icon {
    width: 30px;
    text-align: center;
    opacity: 0.9;
}

.sidebar-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* page area */
.page {
    flex-grow : 1;
    display: grid;
    grid-template-rows: auto 1fr;
}

/* top bar */
.topbar {
    height: 1.2in;
    padding: 0 1cm 0 0.5cm;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.course-title h2 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 1;
}
.course-title p {
    margin: 6px 0 0;
    color: var(--muted);
    font-size: 12pt;
}

.top-right {
    display : flex;
    justify-content : flex-end;
    align-items : center;
    height : 2cm;
    padding-right : 0.5cm;
    padding-top : 0.5cm;
    color : #111;
    width: 30%;
}

.username {
    font-size : 16pt;
    margin-bottom : 0.1cm;
}

.instructor-id {
    font-size : 14pt;
    text-align : right;
}

.profile-photo {
    width : 1.5cm;
    height : 1.5cm;
}

.text-next-to-profile {
    margin-right : 0.5cm;
}


.left-icons-in-uppermost-center-line {
    display : flex;
    width : 40%;
    align-items : center;
    gap : 4%;
}

.search-bar-container {
    display : flex;
    border : var(--w-purple-grey) solid 1px;
    background-color: whitesmoke;
    flex-grow : 1;
    height : 0.8cm;
    border-radius : 50px;
    padding-right : 5%;
    padding-left : 2.5%;
    align-items : center;

}

.search-icon {
    width : 20px;
    height : 20px;

}

.search-bar-input:hover {
    outline : none;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-input {
    border : 0px;
    background-color: whitesmoke;
    flex-grow : 1;
    justify-content : flex-end;
    font-size : 12pt;
    font-style : inherit;
    margin-left : 2%;
}

.notifications-icon {
    width : 25px;
    height : 25px;

}



.icon-btn {
    border: 0;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-meta {
    text-align: right;
}
.user-name {
    margin: 0;
    font-weight: 800;
    font-size: 16pt;
}
.user-id {
    margin: 2px 0 0;
    font-size: 12px;
    color: var(--muted);
}

.avatar {
    width: 1.5cm;
    height: 1.5cm;
    border-radius: 999px;
    background: var(--w-purple-grey);
}

.content-grid {
    padding: 0 0.2cm 0.4cm;
    display: grid;
    grid-template-columns: 3fr 1fr; /* 75% 25% */
    gap: 0.4cm;
    align-items: start;
}

.class, .card {
    background: var(--w-purple-grey);
    border: 0;
    border-radius: var(--radius);
    padding: 0.5cm 0.6cm;
    margin: 0 0.2cm 0.4cm 0.2cm;
}

.card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 0.35cm;
}

.card-header h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    font-weight: 600;
}

.muted {
    margin: 6px 0 0;
    color: var(--muted);
    font-size: 12pt;
}

/* table */
.table-wrap, .bars, .tasks{
       background: var(--card);
       border-radius: var(--radius);
       padding: 0.5cm;
       box-shadow: var(--shadow);
}

.table-wrap {
    overflow-x: auto;
}
.assess-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 620px;
}
.assess-table th, .assess-table td {
    border-bottom: 1px solid var(--w-purple-grey);
    padding: 12px 10px;
    text-align: left;
    font-size: 12px;
}

.assess-table th {
    color: var(--muted);
    font-weight: 800;
}
.access-table tbody tr:hover{
       background: rgba(255, 143, 47, 0.10);
       
}

.primary-btn {
    border: 0;
    background: var(--w-yellow);
    padding: 0.22cm 0.7cm;
    border-radius: var(--pill);
    cursor: pointer;
    font-weight: 800;
}

.status {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 999px;
    font-size: 11px;
    font-weight: 800;
}

.status.not-started {
    background: rgba(255, 222, 230, 0.8);
}
.status.in-progress {
    background: rgba(255, 185, 72, 0.35);
}
.status.submitted {
    background: rgba(255, 143, 47, 0.20);
}


.bars {
    display: grid;
    grid-template-columns: repeat(4, minmax(90px, 1fr));
    gap: 14px;
    align-items: end;
}

.bar-card {
    display: grid;
    justify-items: center;
    gap: 8px;
    padding-top: 6px;
}

.bar {
    width: 56px;
    height: 170px;
    border-radius: 12px;
    background: var(--w-purple-grey);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.bar-fill {
    width: 100%;
    background: var(--w-orange);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.bar-label {
    margin: 0;
    font-size: 12pt;
    font-weight: 800;
    color: var(--muted);
}
.bar-value {
    margin: 0;
    font-size: 12pt;
    color: #111;
    font-weight: 800;
}

.tasks {
    list-style: none;
    margin: 10px 0 0;
    display: grid;
    gap: 10px;
}

.tasks li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #111;
}
.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.35cm;
}
.add-btn {
    width: 38px;
    height: 38px;
    border: 0;
    background: var(--w-yellow);
    font-size: 20px;
    font-weight: 900;
    border-radius: 999px;
    align-items: center;
    display: grid;
    cursor: pointer;

}
.add-btn:hover {
  background-color: var(--w-orange);
}



.rightpanel{
  /* background: linear-gradient(301deg, rgba(49,0,71,1) 0%, rgba(49,0,71,1) 25%, rgba(50,0,71,1) 35%,rgba(71,0,71,1) 80%); */
  color: whitesmoke;
  border-radius: 15px;
}

.rightpanel .card{
  background: rgba(255,255,255,0.12);
  background: linear-gradient(301deg, rgba(49,0,71,1) 0%, rgba(49,0,71,1) 25%, rgba(50,0,71,1) 35%,rgba(71,0,71,1) 80%);
  border: none;
  margin : 0 0 0.4cm 0;
}



/* this is the css added for the enter grades section */
.mark-input {
    width: 68px;
    padding: 6px 8px;
    border: 1.5px solid var(--w-purple-grey);
    border-radius: 8px;
    font-family: inherit;
    font-size: 12px;
    text-align: center;
    background: #fff;
    outline: none;
}
.mark-input:focus {
    border-color: var(--w-orange);
}
.percent-cell {
    font-weight: 800;
    color: var(--w-magenta);
}


/* this to make the page responsive whenever the user open it on a smaller screen */
@media (max-width: 1050px) {
  .content-grid { grid-template-columns: 1fr; }
 .app{ grid-template-columns: 220px 1fr; }
}

@media (max-width: 700px) {
  .app { grid-template-columns: 1fr; }
  .sidebar { display: none; } 
}
