@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* The rest of your CSS styles go below this line */

* {
    margin : 0;
    padding : 0;
    font-family : 'Raleway', 'Gill Sans MT',  Geneva, 'Inter',  'Lucida Sans Unicode', 'Segoe UI';
}

:root {
    --z-dark-purple : #3d0066;
    --z-mid-purple : #82383b;
    --z-light-purple : #EFD9F7;
    --z-yellow : #d7ac28;
    --z-ochre : #c78d17;

    --w-dark-purple1 : #470047;
    --w-dark-purple2 : #310047;
    --w-mid-purple : #6f0b5b;
    --w-magenta : #a02b68;
    --w-yellow : #ffb948;
    --w-orange : #ff8f2f;
    --w-dark-orange : #f97134;
    --w-purple-grey : rgb(225, 222, 230);
}

body {
    display : flex;
    overflow : auto;
    font-weight : 12pt;
}

li {
    list-style-type: none;
}

a {
    text-decoration : none;
    color : inherit;
}


/* elements in the center area */
.main {
    background-color: whitesmoke;
    flex-grow : 1;
    display : block;
    height : auto;
    overflow : auto;
}

.sub-main {
    display : flex;
    height : 82vh;
    overflow : clip;

}

.sub-main-left {
    flex-grow: 1;
    overflow-y : auto;
}
.center-top {
    display: flex;
    flex-grow : 1;
    height : 1.5in;
    margin-top: 0.4cm;
}

.uppermost-center-line {
    /* top bar excluding profile pic and username*/
    display : flex;
    height : 1in;
    flex-grow: 1;
    padding-left : 0.5cm;
    align-items : center;
    
}

.center-title {
    /*Welcome Professor X*/
    font-family : oswald;
    flex-grow: 1;
    font-size : 30pt;
}

.instructor-welcome-message {
    flex-grow : 1;
}

.left-icons-in-uppermost-center-line {
    display : flex;
    width : 40%;
    align-items : center;
    gap : 4%;
}

.search-bar-container {
    display : flex;
    border : var(--w-purple-grey) solid 1px;
    background-color: whitesmoke;
    flex-grow : 1;
    height : 0.8cm;
    border-radius : 50px;
    padding-right : 5%;
    padding-left : 2.5%;
    align-items : center;

}

.search-icon {
    /*<a target="_blank" href="https://icons8.com/icon/59878/search">Search</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/
    width : 20px;
    height : 20px;

}

.search-bar-input:hover {
    outline : none;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-input {
    border : 0px;
    background-color: whitesmoke;
    flex-grow : 1;
    justify-content : flex-end;
    font-size : 12pt;
    font-style : inherit;
    margin-left : 2%;
}

.notifications-icon {
    /*credit: */
    /*<a target="_blank" href="https://icons8.com/icon/4mJGn1D1b2Xr/notification">Notification</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/
    width : 25px;
    height : 25px;

}

.hamburger-menu-button {
    width : 20px;
    display : block;
    align-self : flex-center;
    padding : 2px 0;
}

.hamburger-bar {
    width : 100%;
    display : block;
    height : 1.5pt;
    border-radius : 2px;
    background: #111;
}

.hamburger-bar + .hamburger-bar {
    margin-top : 5px;
}

.top-right {
    display : flex;
    justify-content : flex-end;
    align-items : center;
    height : 2cm;
    padding-right : 0.5cm;
    padding-top : 0.5cm;
    color : #111;
    width: 20%;
}

.username {
    font-size : 16pt;
    margin-bottom : 0.1cm;
}

.instructor-id {
    font-size : 14pt;
    text-align : right;
}

.profile-photo {
    width : 1.5cm;
    height : 1.5cm;
}

.text-next-to-profile {
    margin-right : 0.5cm;
}

.disappear {
    display : none;
}


.instructor-stats {
    padding : 0.5cm 1cm;
    margin : 0cm 0.2cm 0.2cm 0.2cm;
    background-color : var(--w-purple-grey);
    border-radius : 15px;
}
.instructor-stats-table {
    width : 100%;

}

.instructor-stats-table td {
    text-align: center;
    vertical-align: center;
}

.course-area-container {
    background-color: var(--w-purple-grey);
    margin-left : 0.2cm;
    margin-right : 0.2cm;
    padding : 1.2cm 12%;
    border-radius : 15px;
   
}

.course-area-title {
    margin-bottom : 0.3cm;
    font-size : 18pt;
    display : flex;
    align-items: center;
}

.course-area-title p {
    flex-grow : 1;
    
}

.course-area-title button {
    display : flex;
    background-color : var(--w-yellow);
    border : none;
    border-radius : 10px;
    padding : 0.2cm 3%;
    align-items: center;
}

.course-area-title img {
    height : 12px;
    width : 12px;
    margin-right : 5px;
}

.course-area {  
    display : grid;
    grid-template-columns : 1fr 1fr;
    grid-template-rows : auto;
    grid-auto-flow : row;
    justify-items : center;
    align-items : center;
    row-gap : 1cm;
    overflow : auto;

}

.course-info-text {
    margin-top : 0.2cm;
    margin-bottom : 4%;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
    border : 0px solid black;
    color : grey;
}

.course-info-text:hover {
    color : var(--w-orange);
}

.course-info-text:hover:hover > .course-name {
    color : var(--w-orange);
}
.course {
    display : flex;
    flex-direction : column;
    background-color: whitesmoke;
    justify-content : flex-end;
    border-radius : 15px;
    height : 2in;
    width : 2.5in;
    padding : 0.2cm 0cm;
    overflow : none;

}

.course-image {
    border : black solid  0px;
    display : flex;
    min-height : 0;
    flex-grow : 1;
    margin-right : 0.2cm;
    margin-left : 0.2cm;
    border-top-left-radius : 15px;
    border-top-right-radius : 15px;
    background-size : cover;

}

.course-img-1 {
    background-image: url('course-images/IMG-20260215-WA0005.jpg');
}

.course-img-2 {
    background-image : url('course-images/IMG-20260215-WA0006.jpg');
}

.course-img-3 {
    background-image: url('course-images/IMG-20260215-WA0007.jpg');
}

.course-img-4 {
    background-image: url('course-images/IMG-20260215-WA0008.jpg');
}

.course-img-5 {
    background-image: url('course-images/IMG-20260215-WA0009.jpg');
}

.course-img-6 {
    background-image: url('course-images/IMG-20260215-WA0010.jpg');
}

.course-img-7 {
    background-image: url('course-images/IMG-20260215-WA0011.jpg');
}

.course-img-8 {
    background-image: url('course-images/IMG-20260215-WA0012.jpg');
}

.course-img-9 {
    background-image: url('course-images/IMG-20260215-WA0013.jpg');
}

.course-img-10 {
    background-image: url('course-images/IMG-20260215-WA0014.jpg');
}

.course-img-11 {
    background-image: url('course-images/IMG-20260215-WA0015.jpg');
}

.course-img-12 {
    background-image: url('course-images/IMG-20260215-WA0016.jpg');
}

.course-img-13 {
    background-image: url('course-images/IMG-20260215-WA0017.jpg');
}

.course-img-14 {
    background-image: url('course-images/IMG-20260215-WA0018.jpg');
}

.course-img-15 {
    background-image: url('course-images/IMG-20260215-WA0019.jpg');
}

.course-img-16 {
    background-image: url('course-images/IMG-20260215-WA0020.jpg');
}

.course-img-17 {
    background-image: url('course-images/IMG-20260215-WA0021.jpg');
}

.course-img-18 {
    background-image: url('course-images/IMG-20260215-WA0022.jpg');
}

.course-img-19 {
    background-image: url('course-images/IMG-20260215-WA0023.jpg');
}

.course-img-20 {
    background-image: url('course-images/IMG-20260215-WA0024.jpg');
}

.course-img-21 {
    background-image: url('course-images/IMG-20260215-WA0025.jpg');
}

.course-text-top-line {
    display : flex;
    align-items: center;
}
.three-dots-container {
    height : 0.7cm;
    width : 0.5cm;
}
.edit-course-3-dots {
    height : 100%;
    width : 100%;
    background-image: url('black-icons/black-icons-3-dots-menu-vertical-96.png');
    background-size : cover;
    border : none;
    background-color : whitesmoke;
}
.course-name {
    font-size : 12pt;
}
.course-code {
    font-size : 14pt;
    color : black;
}

.course-section {
    font-size : 12pt;
}

.recent-activity-title {
    font-size : 18pt;
    margin-left : 0.5cm;
    margin-bottom : 0.5cm;
    margin-top : 0.5cm;
    
}

.recent-activity-container {
    border-radius: 15px;
    background-color : rgb(225, 222, 230);
    margin : 0.2cm;
    padding : 0.2cm 12%;
}

.recent-activity-list {
    display : block;
    gap : 5%;
    margin-left : 0.5cm;
}

.recent-activity-item {
    border-radius : 20px;
    background-color :whitesmoke;
    padding : 0.3cm 0.7cm;
    margin-bottom : 0.4cm;
}

.recent-activity-item:has(.deadline-item-anchor:hover)  {
    background-color: var(--w-orange);
}

.sub-main-right {
    display : flex;
    flex-direction: column;
    width : 25%;
    color : #111;
    border-radius: 15px;
    margin-right : 0.4cm;
}

/*Course performance*/
.class-performance-container {
    margin-bottom: 0.4cm;
    height : 50%;
   
}

.class-performance-title {
    font-size: 14pt;
    color: #111;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.courseRow {
    margin-bottom: 16px;
}

.courseLabel {
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.barBackground {
    background-color: whitesmoke;
    border-radius: 20px;
    height: 16px;
    width: 100%;
}

.barFill {
    height: 16px;
    border-radius: 20px;
    background-color: var(--w-yellow);
    transition: width 0.5s ease;
    min-width: 5%;
}

.divider {
    border: none;
    border-top: 1px solid var(--w-dark-purple1);
    margin-bottom: 0.2cm;
}

.overall {
    text-align: center;
    font-size: 12pt;
    letter-spacing: 1px;
}

.overallNumber {
    font-size: 14pt;
}

/*Calendar*/
.calend-card{
    background: linear-gradient(301deg, rgba(49,0,71,1) 0%, rgba(49,0,71,1) 25%, rgba(50,0,71,1) 35%,rgba(71,0,71,1) 80%);

  border-radius: var(--radius);
  padding: 0.5cm 0.6cm;
  margin: 0;
  border: 0;
  flex-grow: 1;
}

