@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* General styles that are repeated among more than one file */
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Gill Sans MT', Geneva, 'Inter', 'Lucida Sans Unicode', 'Segoe UI';
}

:root {
    --w-dark-purple1: #470047;
    --w-dark-purple2: #310047;
    --w-mid-purple: #6f0b5b;
    --w-magenta: #a02b68;
    --w-yellow: #ffb948;
    --w-orange: #ff8f2f;
    --w-dark-orange: #f97134;
    --w-purple-grey: rgb(225, 222, 230);

    --bg: whitesmoke;
    --text: #111;
    --muted: grey;
    --card: whitesmoke;

    --radius: 15px;
    --shadow: 5px 5px 10px 0px va(--w-purple-grey);
    --pill: 50px;

    
}

a {
    text-decoration : none;
    color : inherit;
}

button {
    cursor: pointer;
}

/* header */


.center-top {
    display : flex;
    flex-grow : 1;
}
.top-right {
    display : flex;
    justify-content : flex-end;
    align-items : center;
    height : 2cm;
    padding-right : 1cm;
    padding-top : 0.5cm;
    color : #111;
}

.username {
    font-size : 16pt;
    margin-bottom : 0.1cm;
}

.student-id {
    font-size : 14pt;
    text-align : right;
}

.profile-photo {
    width : 1.5cm;
    height : 1.5cm;
}

.text-next-to-profile {
    margin-right : 0.5cm;
}


.uppermost-center-line {
    display : flex;
    height : 1in;
    padding-right : 1cm;
    padding-left : 0.5cm;
    align-items : center;
    flex-grow : 1;
}

.center-title {
    /*My courses*/
    font-family : oswald;
    flex-grow : 1;
    font-size : 30pt;
}

.instructor-welcome-message {
    flex-grow: 1;
}

.instructor-id {
    font-size : 14pt;
    text-align : right;
}
.left-icons-in-uppermost-center-line {
    display : flex;
    width : 40%;
    align-items : center;
    gap : 4%;
}

.search-bar-container {
    display : flex;
    border : var(--w-purple-grey) solid 1px;
    background-color: whitesmoke;
    flex-grow : 1;
    height : 0.8cm;
    border-radius : 50px;
    padding-right : 5%;
    padding-left : 2.5%;
    align-items : center;

}

.search-icon {
    /*<a target="_blank" href="https://icons8.com/icon/59878/search">Search</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/
    width : 20px;
    height : 20px;

}

.search-bar-input:hover {
    outline : none;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-input {
    border : 0px;
    background-color: whitesmoke;
    flex-grow : 1;
    justify-content : flex-end;
    font-size : 12pt;
    font-style : inherit;
    margin-left : 2%;
}

.notifications-icon {
    /*credit: */
    /*<a target="_blank" href="https://icons8.com/icon/4mJGn1D1b2Xr/notification">Notification</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/
    width : 25px;
    height : 25px;

}

.hamburger-menu-button {
    width : 20px;
    display : block;
    align-self : flex-center;
    padding : 2px 0;
}

.hamburger-bar {
    width : 100%;
    display : block;
    height : 1.5pt;
    border-radius : 2px;
    background: #111;
}

.hamburger-bar + .hamburger-bar {
    margin-top : 5px;
}

/* scrollbar */
.sub-main {
    scrollbar-color: var(--w-purple-grey) whitesmoke;
}

/* left menu */
.left {
    color: whitesmoke;
    width: 15%;
    display: flex;
    flex-direction: column;
    background: #310047;
    background: linear-gradient(161deg, rgba(49, 0, 71, 1) 55%, rgba(49, 0, 71, 1) 69%, rgba(160, 43, 104, 1) 100%);
    height : 100vh;
    overflow-y: hidden;
    flex-shrink: 0;
    /*
    background: #310047;
    background: linear-gradient(132deg, rgba(49, 0, 71, 1) 0%, rgba(49, 0, 71, 1) 13%, rgba(49, 0, 71, 1) 25%, rgba(50, 0, 71, 1) 35%, rgba(71, 0, 71, 1) 80%);
    box-shadow : 2cm 0 2cm 0 -6 rgb(20, 20, 20);
    */
}

.left-title {
    font-size: 16pt;
    margin-top: 1cm;
    margin-bottom: 2.5cm;
    margin-left: 0.4cm;
}

.left-menu-option a {
    width: 100%;
    font-size: 14pt;
}

.left-menu-option:has(a:hover) {
    background-color: var(--w-dark-purple1);
    border-right: solid var(--w-magenta) 5px;
}

.left-menu-option:has(a:focus) {
    background-color: var(--w-dark-purple1);
    border-right: solid var(--w-magenta) 5px;
}

.left-menu-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-center;
    flex-grow: 1;

}

.left-menu-top li {
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.left-menu-bottom li {
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.left-menu-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.left-menu-option {
    padding-bottom: 0.25cm;
    padding-top: 0.25cm;
    font-size: 16pt;
    color: grey;
    padding-left: 0.4cm;
}

.left-menu-option img {
    height: 30px;
    width: 30px;
    margin-right: 0.2cm;
}






/* end of left menu */

/* start of calendar section */
.cal-card {
    background: linear-gradient(301deg, rgba(49, 0, 71, 1) 0%, rgba(49, 0, 71, 1) 25%, rgba(50, 0, 71, 1) 35%, rgba(71, 0, 71, 1) 80%);
    border-radius: var(--radius);
    padding: 0.5cm 0.6cm;
    margin: 0 0;
    border: 0;
}

.cal-card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 0.35cm;

}

.cal-card-header h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    font-weight: 400;
    color: whitesmoke;

}

.muted {
    margin: 6px 0 0;
    /*color: var(--muted);*/
    color: whitesmoke;

    font-size: 12pt;
}



.calendar {
    margin-top: 8px;



}

.cal-head,
.cal-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;


}

.cal-head {
    margin-bottom: 0.2cm;
}

.cal-grid {
    background: rgba(255, 255, 255, 0.12);
    border-radius: var(--radius);
    padding: 0.3cm;

}

.cal-head span {
    font-size: 14px;
    /*
    color: var(--muted);
    */
    color: whitesmoke;
    text-align: center;
    font-weight: 400;
}

.cal-grid .show {
    background: #fff;
    height: 34px;
}

.cal-day {
    height:0;
    border-radius: 10px;
    display: grid;
    place-items: center;
    font-size: 12pt;
    color: #111;
}

.cal-day.dim {
    background: transparent;
    border-color: transparent;
    opacity: 0.4;
}

.cal-day.highlight {
    background: rgba(255, 143, 47, 0.18);
    border-color: rgba(255, 143, 47, 0.35);
    font-weight: 900;
}

.cal-legend {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background: var(--w-orange);

}

/* averages and performance bar charts - certain styles */
.averages-container,
.class-performance-container {
    display: flex;
    justify-content: center;
    height: 50%;

}

.averages-bars-container,
.classes-performance-bars-container {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 15px;
    padding: 0.3cm 0.4cm 0.1cm 0.4cm;

}

.average-card,
.performance-card {
    background: linear-gradient(301deg, rgba(49, 0, 71, 1) 0%, rgba(49, 0, 71, 1) 25%, rgba(50, 0, 71, 1) 35%, rgba(71, 0, 71, 1) 80%);
    border-radius: 15px;
    padding: 30px;
    flex-grow: 1;

}

.averages-title,
.class-performance-title,
.courseLabel,
.overall,
.overallNumber {
    color: whitesmoke;
}

.averages-title,
.class-performance-title {

    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    font-weight: 400;
    color: whitesmoke;
}

.divider {
    border: none;
    border-top: 1px solid var(--w-dark-purple1);
    margin-bottom: 0.2cm;
}

/*course background*/
.course-img-1 {
    background-image: url('/course-images/IMG-20260215-WA0009.jpg');
}

.course-img-2 {
    background-image : url('/course-images/IMG-20260215-WA0005.jpg')
}

.course-img-3 {
    background-image: url('/course-images/IMG-20260215-WA0020.jpg');
}

.course-img-4 {
    background-image: url('/course-images/IMG-20260215-WA0006.jpg');
}

.course-img-5 {
    background-image: url('/course-images/IMG-20260215-WA0011.jpg');
}

.course-img-6 {
    background-image:  url('/course-images/IMG-20260215-WA0013.jpg');
}
.course-img-7 {
    background-image:  url('/course-images/IMG-20260215-WA0023.jpg');
}.course-img-8 {
    background-image:  url('/course-images/IMG-20260215-WA0024.jpg');
}.course-img-9 {
    background-image:  url('/course-images/IMG-20260215-WA0018.jpg');
}
